.container {
  padding-top: 40px!important;
}



@import "custom_bootstrap_vars";
@import "node_modules/bootstrap/scss/bootstrap";

@import "bootswatch";

@import "navbar-fixed-left";
@import "fa/fontawesome";
//@import "navbar-fixed-right";


// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////
$fa-font-path:        "webfonts";
// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}
